<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Greetings Cards Spammers</title>
	<script src="{% static "js/jquery-2.1.1.js" %}"></script>
	
	<script>
	$(document).ready(function(){
		$("table tr").hover(function(){
				$("table *").css("background-color", ""); // remove background color from everything (un-hover)
			hoveretr = this;
		$("td:contains(.)").each(function(){

	 function processchildrow(theparentrow) {
		 parenttbl = $(theparentrow).parents("table");
		 found = 0; // find state machine marker
		 markrows = new Array();
		 parenttbl.find("tr").each(function(){
			 var foundrow = this;
			 if(found == 0 && foundrow == theparentrow) found = 1;
			 if(found == 1 && $(foundrow).is(":contains(Orders)")) {
				 orderscll= $(foundrow).find("td").eq(2);
				 numorders=+orderscll.text().split(" ")[1]; //use + for faster integer
				 if(numorders>3) markrows[markrows.length]=foundrow;//put in array for marking later
				 return
			 }
			 if(found == 1 && foundrow != theparentrow  &&  $(foundrow).find("td:first").text().length) // has company name in first cell
				 found = 2;
		 });
		 for(key in markrows) {
			 row=markrows[key]
			 $(row).find("td").css("background-color", "yellow");
		 }
		 return markrows
 
	 }

			price = $(this).text();
			trueprice = "";
			if (price.indexOf(".", price.length - ".".length) === -1)
			{
				trueprice = price;
			}

			if (trueprice)
			{
				if (parseInt(trueprice) > 50000)
				{
					finalprice = parseInt(trueprice);
					firstsib = $(this).siblings(":first");
					therow = $(firstsib).parents("tr");

					$(therow).find("td").each(function(elem){
						elem = $(this);

						if(therow[0] !== hoveretr) return; // === better than ==

						if($(elem).css("background-color"))
							$(elem).css("background-color", ""); // remove background color

						$(elem).css("background-color", 'green');
						processchildrow(therow[0]);
					});
				}
				else
				{
					finalprice = parseInt(trueprice);
					firstsib = $(this).siblings(":first");
					therow = $(firstsib).parents("tr");

					$(therow).find("td").each(function(elem){
						elem = $(this);
						if(therow[0] !== hoveretr) return; // === better than ==

						if($(elem).css("background-color"))
							$(elem).css("background-color", ""); // remove background color

						$(elem).css("background-color", 'orange');
					});
				}
			}
			

		});
		});
	});
	</script>
</head>
<body>
	<div style="
	width: auto;
	  margin: 0 auto; border:2px solid blue;">
	<table style="width:100%">
	{% if is_paginated %}
	<tr><td>
		{% if page_obj.has_previous %}
		<a href="?page={{ page_obj.previous_page_number }}" class="pager-prev{% if not page_obj.has_previous %} inactive{% endif %}">&laquo;</a>
		{% endif %}
		</td>
		<td></td>
		<td></td>
		<td>
		{% if page_obj.has_next %}
			<a href="?page={{ page_obj.next_page_number }}" class="pager-next{% if not page_obj.has_next %} inactive{% endif %}">&raquo;</a>
		{% endif %}
		</td>
	</tr>
	{% endif %}
	<tr>
		<th>Name</th>
		<th>Order Count</th>
		<th>Order Sum</th>
		<th>Select</th>
	</tr>
	{% regroup contact_list by company as company_items %}
		{% for company in company_items %}
		<tr>
			<td>{{ company.grouper.name }}</td>
			<td>{{ company.grouper.get_order_count }}</td>
			<td>{{ company.grouper.get_order_sum|floatformat:2 }}</td>
			<td><input type="checkbox" name="select{{company.grouper.pk}}" id=""></td>
		</tr>
			{% for contact in company.list %}
			<tr>
				<td>&nbsp;</td>
				<td>{{ contact.first_name }} {{ contact.last_name }}</td>
				<td>Orders: {{ contact.get_order_count }}</td>
				<td></td>
			</tr>
			{% endfor %}
		{% endfor %}
	</table>
	</div>
</body>
</html>